.bannerDiv {
  display: block;
}
.roomSearchDiv{
  padding: 3px;
  background-color: #e8ebee;
  justify-content: center;
}
.roomInput{
  justify-content: center;
  width:50% !important;
}
.enterBtn{
  background-color: #4eabc0 !important;
}
.form-control:focus{
  box-shadow: none !important;
}
.submitRoomNo{
  border:none !important;
  background:none !important;
}